.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.switchContainer{
    display: flex;
    align-items: center;
}

.darkLabel{
    padding-right: 10px;
}

.logo{
    display: inline;
}

.navItem{
    text-decoration: none;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid grey;
}